# Logs and temporary files
*.log
*.tmp
npm-debug.log*

# OS-specific files
.DS_Store
Thumbs.db

# Node.js dependencies
node_modules/
.env

# IDE/project files
.vscode/
.idea/

# Build and cache files
dist/
build/
.cache/
